@model IEnumerable<TAApplication.Models.Course>
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject UserManager<TAUser> UserManager

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/js/Course/Course.js"></script>

@{
    ViewData["Title"] = "Courses";
}

<h1 class="center text-decoration-underline">Courses</h1>
@if (UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin").Result)
{
    <p class="center">
        <a class="btn btn-md btn-danger" asp-area="" asp-controller="Courses" asp-action="Create">Create New</a>
    </p>
}
<div style="overflow:auto">
    <table id="courses-table" class="display table cell-border compact">
        <thead>
            <tr class="red-table-header-row">
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.SemesterOffered)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.YearOffered)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Section)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.ProfessorUnid)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.ProfessorName)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.End)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.DaysOffered)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.CreditHours)
                </th>
                <th class="red-header-data">
                    @Html.DisplayNameFor(model => model.Enrollment)
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th class="red-header-data">
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Professor"))
                {
                    <th class="red-header-data">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SemesterOffered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearOffered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfessorUnid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfessorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysOffered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enrollment)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="#" id="btnpopup" class="" data-id="@item.ID" data-note-contents="@item.Note" data-toggle="modal" data-target="#popup">@Html.DisplayFor(modelItem => item.Note)</a>
                        </td>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Professor"))
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID" class="red-table-link">Details</a> |

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ID" class="red-table-link">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="red-table-link">Delete</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="NotePopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title justify-content-center" id="exampleModalLongTitle">Edit Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" asp-controller="Courses" method="post">
                    <div class="form-group">
                        Note: <textarea id="txtNote" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="EditNote">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#popup').on('show.bs.modal', function (e) {

        //get data-id attribute of the clicked element
        var note = $(e.relatedTarget).data('note-contents');

        //populate the textbox
        $(e.currentTarget).find('textarea[name="txtNote"]').val(note);
    });
</script>

<script>
    $(document).ready(function () {
        $('#courses-table').DataTable({
            order: [[0, "desc"]],
        });
    });
</script>