<!--
  Author:    Sebastian Ramirez
  Partner:   Noah Carlson
  Date:      Sept 27, 2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Noah Carlson, Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
  I, Sebastian Ramirez and Noah Carlson, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
     This file contains the HTML for the User Roles Admin Page which displays all users and their roles along with the ability to
     change their role.
-->
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject RoleManager<IdentityRole> rm
@inject UserManager<TAUser> um

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<script src="~/js/Admin/Roles.js"></script>

<h1>User Role Manager</h1>

<table id="UserRoles" class="display table table-striped cell-border compact stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unid</th>
            <th>Applicant</th>
            <th>Professor</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in um.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Unid</td>
                <td>
                    @if(um.IsInRoleAsync(user,"Applicant").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="Change_Role('@user.Id','Applicant')" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="Change_Role('@user.Id','Applicant')">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Professor").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="Change_Role('@user.Id','Professor')" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="Change_Role('@user.Id','Professor')">
                        </div>
                    }
                </td>
                <td>
                    @if(um.IsInRoleAsync(user,"Admin").Result)
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="Change_Role('@user.Id','Admin')" checked>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="Change_Role('@user.Id','Admin')">
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
    $('#UserRoles').DataTable({
        order: [[0, "desc"]],
    });
});
</script>