<!--
Author:    Sebastian Ramirez
Partner:   Noah Carlson
Date:      Sept 27, 2022
Course:    CS 4540, University of Utah, School of Computing
Copyright: CS 4540 and Noah Carlson, Sebastian Ramirez - This work may not be copied for use in Academic Coursework.
I, Sebastian Ramirez and Noah Carlson, certify that I wrote this code from scratch and did not copy it in part or whole from
another source.  Any references used in the completion of the assignment are cited in my README file.
File Contents
This file contains the HTML for the Application Details Page which displays an applicants details
-->

@model TAApplication.Models.Application
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@using TAApplication.Data
@using Microsoft.EntityFrameworkCore
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "Details";
}


<div id="Application-page-title-wrapper">
    <h1 id="Application-page-title">@Html.DisplayFor(model=>model.TAUser.Name)'s (@Html.DisplayFor(model=>model.TAUser.Unid)) Application</h1>
</div>
<div id="header-bar"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/default_pfp.png" alt="User's self portrait" id="user_portrait" />
            <div class="row">
                <div class="col-lg-6">
                    <b id="name-label">Name:</b>
                </div>
                <div class="col-lg-6">
                    <p id="name-response">@Html.DisplayFor(model=>model.TAUser.Name)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <b id="pronouns-label">uID</b>
                </div>
                <div class="col-lg-6">
                    <p id="pronouns-response">@Html.DisplayFor(model=>model.TAUser.Unid)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <b id="phone-number-label">Referred To</b>
                </div>
                <div class="col-lg-6 data-field-col">
                    <p id="phone-number-response">@Html.DisplayFor(model=>model.TAUser.ReferredTo)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <b id="email-label">Email:</b>
                </div>
                <div class="col-lg-6 data-field-col">
                    <p id="email-response">@Html.DisplayFor(model=>model.TAUser.Email)</p>
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <form>
                <div id="application-container" class="container">
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="pos-sought" class="form-label">Position sought:</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="pos-sought">Senior TA</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="degree-pursuing" class="form-label">@Html.DisplayFor(model => model.DegreePursuing)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="degree-pursuing">@Html.DisplayFor(model => model.DegreePursuing)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="degree-dept" class="form-label">@Html.DisplayNameFor(model => model.Department)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="degree-dept">@Html.DisplayFor(model => model.Department)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="u-gpa" class="form-label">@Html.DisplayNameFor(model => model.GPA)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="u-gpa">@Html.DisplayFor(model => model.GPA)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="max-weekly-hours" class="form-label">@Html.DisplayNameFor(model=>model.DesiredHours)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="max-weekly-hours">@Html.DisplayFor(model=>model.DesiredHours)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="availability" class="form-label">@Html.DisplayNameFor(model =>model.AvailableBeforeSemester)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="availability">@Html.DisplayFor(model =>model.AvailableBeforeSemester)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="utah-semesters" class="form-label">@Html.DisplayNameFor(model=>model.SemestersCompleted)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="utah-semesters">@Html.DisplayFor(model=>model.SemestersCompleted)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="personal-statement" class="form-label">@Html.DisplayNameFor(model=>model.PersonalStatement)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="personal-statement">@Html.DisplayFor(model=>model.PersonalStatement)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="previous-university" class="form-label">@Html.DisplayNameFor(model=>model.TransferSchool)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="previous-university">@Html.DisplayFor(model=>model.TransferSchool)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="linkedin" class="form-label">@Html.DisplayNameFor(model=>model.LinkedIn)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <a href="@Html.ValueFor(model=>model.LinkedIn)" target="_blank">@Html.DisplayFor(model=>model.LinkedIn)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="resume-label" class="form-label">@Html.DisplayNameFor(model=>model.ResumeName)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="resume">@Html.DisplayFor(model=>model.ResumeName)</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 prompt-label">
                            <label for="resume-label" class="form-label">@Html.DisplayNameFor(model=>model.ModificationDate)</label>
                        </div>
                        <div class="col-lg-7 data-field-col">
                            <p id="resume">@Html.DisplayFor(model=>model.ModificationDate)</a>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>



<form method="post"                                              
enctype="multipart/form-data" 
asp-controller="Applications" 
asp-action="FileUpload">
                <input type="submit" value="Upload PDF Resume" />
                <br/>
                <input type="file" name="files" multiple />
                <input hidden name="category" value="resume" /> 
                <input hidden name="appID" value="@Model.Id" />
</form>
<p class="text-red">
    @ViewData["ErrorMessage"]
</p>

<div>
    
    @if (User.IsInRole("Admin") || (UserManager.GetUserId(User) == Model?.TAUser.Id))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    }
    

    @if (User.IsInRole("Professor")|| User.IsInRole("Admin"))
    {
        <a asp-action="List" asp-route-id="@Model?.Id">Back to List</a>
    }
</div>
