@model TAApplication.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePursuing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePursuing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesiredHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesiredHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableBeforeSemester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableBeforeSemester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemestersCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemestersCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
